<div class="bg-white w-[300px] h-fit p-3 rounded-2xl">
    <img src="/QR-Code/images/image-qr-code.png" alt="qr-code" class="w-full rounded-xl mb-5">
    <h3 class="font-bold text-xl text-center mb-4 px-1">
        Improve your front-end skills by building projects
    </h3>
    <p class="text-gray-500 text-md text-center mb-5 px-1">
        Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
    </p>
</div>